@import 'bootstrap';
// variables
$font-family-sans-serif: 'PT Sans', Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-sans-serif-header: 'Philosopher', sans-serif;
$color-bg: $white;
$color-bg-colored: #CD5C5C;

body {
    font-family: $font-family-sans-serif;
}

header {
    background:url(../img/first.jpg) no-repeat center center;
    width: 100%;
    height: 100vh;
    padding: 20px 10px 60px 10px;
    overflow: hidden;
    background-size: cover;

    a {
        background-color: rgba(150, 150, 150, 0.1);
    }
}

@include media-breakpoint-down(sm) {
    header {
        background:url(../img/first-mobile.jpg) no-repeat center center;
        background-size: cover;
    }
}

.navbar-menu {
    background-color: $color-bg-colored;
    background: linear-gradient(to bottom, $color-bg-colored 0%, #d26464 50%, #d96767 100%);
    margin: auto;
    min-height: 60px;
    border: 0px solid #fff;
    position: fixed;
    transition: top 0.4s ease 0s;
    top: -60px;

    &.navbar-fixed-top {
        z-index: 1000;
        left: 0;
        right: 0;
        color: $color-bg;
    }

    &.open {
        top: 0;
    }

    .navbar-header {
        display: flex;
    }

    .navbar-nav {
        list-style: none;
    }
}

h1, h3, p.h4 {
    font-family: $font-family-sans-serif-header;
}

.mouse-icon {
    border: 2px solid #fff;
    border-radius: 16px;
    display: block;
    height: 50px;
    margin: -100px auto 50px;
    position: relative;
    width: 30px;
    z-index: 10;

    .scroll {
        background: #fff none repeat scroll 0 0;
        border-radius: 10px;
        height: 10px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 4px;
        width: 4px;
        animation-delay: 0s;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: scrolling;
        animation-play-state: running;
        animation-timing-function: linear;
    }
}

@keyframes scrolling {
    0% {
        opacity: 0;
        top: 5px;
    }
    30% {
        opacity: 1;
        top: 10px;
    }
    100% {
        opacity: 0;
        top: 25px;
    }
}

a {
    color: $color-bg;
    &:hover {
        color: $color-bg;
    }
}

.greeting {
    background: $color-bg-colored;
    color: $color-bg;
}

@include media-breakpoint-up(sm) {
    .greeting {
        padding: 160px 0 !important;
    }
}

.logo {
    font-family: $font-family-sans-serif-header;
    font-size: 1.5rem;
    padding: 0 !important;

    &:hover {
        text-decoration: none;
    }
}

[data-share] {
    cursor: pointer;
    transition: opacity 0.3s;
    margin: 0 1.1rem;
    font-size: 1.5rem;
    border: 1px $white solid;
    border-radius: 10px;
    opacity: 0.75;
    transition: opacity 400ms;

    &:hover {
        text-decoration: none;
        opacity: 1;
    }
}

.nav-item:first-child {
    [data-share] {
        margin-left: 0;
    }
}

hr.line {
    width: 100%;
    border: 2px solid;
    border-color: $color-bg-colored;

    &.line-first {
        border-color: #5ccd5e;
    }

    &.line-third {
        border-color: #5d5ccd;
    }
}

@include media-breakpoint-up(sm) {
    .program.py-sm-150 {
        padding: 150px 0 !important;
    }
}

.program {
    .media {
        display: inline-block;
        box-shadow: 0 0 4px 4px $gray-400;
        padding: 10px;

        .youtube {
            position: relative;
            display: block;
            text-decoration: none;

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                content: "►";
                font-size: 6rem;
                color: $white;
                opacity: 0.75;
                transition: opacity 400ms;
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

footer {
    padding: 40px 0;

    a {
        color: $gray-900;
        opacity: .75;

        &:hover {
            color: $gray-900;
            opacity: 1;
        }
    }
}

.bg-gray {
    background-color: $gray-100;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
