//Global site tag (gtag.js) - Google Analytics
script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-115760659-1")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-115760659-1');
