script(type="application/ld+json").
    {
        "@id": "https://wedding2018.moscow",
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "Свадьба Алексея и Марины",
        "url": "https://wedding2018.moscow",
        "image": "https://wedding2018.moscow/img/og.jpg",
        "description": "Фото и видео воспоминания для наших гостей и друзей о торжественном событии",
        "startDate": "2018-04-28T13:00",
        "endDate": "2018-04-28T22:00",
        "isAccessibleForFree": "http://schema.org/True",
        "performers": [
            {
                "@type": "Person",
                "name": "Алексей",
                "gender": "http://schema.org/Male",
                "email": "alexey@wedding2018.moscow"
            },
            {
                "@type": "Person",
                "name": "Марина",
                "gender": "http://schema.org/Female",
                "email": "marina@wedding2018.moscow"
            }
        ],
        "location": {
            "@type": "Place",
            "name": "Свадьба",
            "address": {
                "@type" : "PostalAddress",
                "addressLocality" : "Москва",
                "postalCode" : "101000"
            }
        },
        "offers": {
            "@type": "AggregateOffer",
            "price": "0",
            "priceCurrency": "RUB",
            "offerCount": "0",
            "availability": "http://schema.org/OutOfStock",
            "url": "https://wedding2018.moscow",
            "validFrom": "2018-04-28T13:00"
        },
        "subEvents": [
            {
                "@type": "Event",
                "startDate": "2018-04-28T13:00",
                "endDate": "2018-04-28T13:30",
                "isAccessibleForFree": "http://schema.org/True",
                "name": "Выкуп невесты",
                "url": "https://wedding2018.moscow#bridewealth",
                "image": "https://wedding2018.moscow/img/vikup.jpg",
                "description": "Выкуп невесты",
                "performers": [
                    {
                        "@type": "Person",
                        "name": "Алексей",
                        "gender": "http://schema.org/Male",
                        "email": "alexey@wedding2018.moscow"
                    },
                    {
                        "@type": "Person",
                        "name": "Марина",
                        "gender": "http://schema.org/Female",
                        "email": "marina@wedding2018.moscow"
                    }
                ],
                "location": {
                    "@type": "Place",
                    "name": "Дом молодоженов",
                    "address": {
                        "@type" : "PostalAddress",
                        "streetAddress" : "ул. Кунцевская",
                        "addressLocality" : "Москва",
                        "postalCode" : "121351"
                    }
                },
                "offers": {
                    "@type": "AggregateOffer",
                    "price": "0",
                    "priceCurrency": "RUB",
                    "offerCount": "0",
                    "availability": "http://schema.org/OutOfStock",
                    "url": "https://wedding2018.moscow#bridewealth",
                    "validFrom": "2018-04-28T13:00"
                }
            },
            {
                "@type": "Event",
                "startDate": "2018-04-28T15:00",
                "endDate": "2018-04-28T15:15",
                "isAccessibleForFree": "http://schema.org/True",
                "name": "ЗАГС",
                "url": "https://wedding2018.moscow#registration",
                "image": "https://wedding2018.moscow/img/zags.jpg",
                "description": "ЗАГС",
                "performers": [
                    {
                        "@type": "Person",
                        "name": "Алексей",
                        "gender": "http://schema.org/Male",
                        "email": "alexey@wedding2018.moscow"
                    },
                    {
                        "@type": "Person",
                        "name": "Марина",
                        "gender": "http://schema.org/Female",
                        "email": "marina@wedding2018.moscow"
                    }
                ],
                "location": {
                    "@type": "Place",
                    "name": "Хамовнический ЗАГС",
                    "address": {
                        "@type" : "PostalAddress",
                        "streetAddress" : "1-й Вражский пер., 4",
                        "addressLocality" : "Москва",
                        "postalCode" : "119121"
                    }
                },
                "offers": {
                    "@type": "AggregateOffer",
                    "price": "0",
                    "priceCurrency": "RUB",
                    "offerCount": "0",
                    "availability": "http://schema.org/OutOfStock",
                    "url": "https://wedding2018.moscow#registration",
                    "validFrom": "2018-04-28T15:00"
                }
            },
            {
                "@type": "Event",
                "startDate": "2018-04-28T17:00",
                "endDate": "2018-04-28T22:00",
                "isAccessibleForFree": "http://schema.org/True",
                "name": "Банкет",
                "url": "https://wedding2018.moscow#banquet",
                "image": "https://wedding2018.moscow/img/banket.jpg",
                "description": "Банкет",
                "performers": [
                    {
                        "@type": "Person",
                        "name": "Алексей",
                        "gender": "http://schema.org/Male",
                        "email": "alexey@wedding2018.moscow"
                    },
                    {
                        "@type": "Person",
                        "name": "Марина",
                        "gender": "http://schema.org/Female",
                        "email": "marina@wedding2018.moscow"
                    }
                ],
                "director": {
                    "@type": "Person",
                    "name": "Константин Илюхин",
                    "gender": "http://schema.org/Male",
                    "telephone": "+7(926)818-96-89",
                    "url": "https://vk.com/id1537060"
                },
                "location": {
                    "@type": "Place",
                    "name": "Кафе при Префектуре ЗАО",
                    "address": {
                        "@type" : "PostalAddress",
                        "streetAddress" : "ул. Ивана Франко, д. 12",
                        "addressLocality" : "Москва",
                        "postalCode" : "121374"
                    }
                },
                "offers": {
                    "@type": "AggregateOffer",
                    "price": "0",
                    "priceCurrency": "RUB",
                    "offerCount": "0",
                    "availability": "http://schema.org/OutOfStock",
                    "url": "https://wedding2018.moscow#banquet",
                    "validFrom": "2018-04-28T17:00"
                }
            }
        ]
    }
