ul.navbar-nav.ml-auto
    li.nav-item
        a.nav-link.socicon-facebook(href='#', data-href='https://www.facebook.com/sharer/sharer.php?u={url}', data-share='facebook')
    li.nav-item
        a.nav-link.socicon-vkontakte(href='#', data-href='https://vk.com/share.php?url={url}', data-share='vk')
    li.nav-item
        a.nav-link.socicon-odnoklassniki(href='#', data-href='https://connect.ok.ru/offer?url={url}', data-share='ok')
