- var now = new Date();
doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Свадьба Алексея и Марины
        meta(name='description', content='Свадьба Алексея и Марины 28 апреля 2018')
        meta(name='author', content='Алексей <alexey@wedding2018.moscow>')
        meta(name='author', content='Марина <marina@wedding2018.moscow>')
        meta(property='og:title', content='Свадьба Алексея и Марины')
        meta(property='og:description', content='Свадьба Алексея и Марины 28 апреля 2018')
        meta(property='og:image', content=`https://wedding2018.moscow/img/og.jpg?_=${now.getTime()}`)
        meta(property='og:image:type', content='image/jpeg')
        meta(property='og:image:width', content='650')
        meta(property='og:image:height', content='650')
        meta(property='og:type', content='website')
        meta(property='og:url', content='https://wedding2018.moscow')
        link(rel='canonical' href='https://wedding2018.moscow')
        link(rel='stylesheet', href=`css/style.css?_=${now.getTime()}`, media='all')
        link(rel='apple-touch-icon', sizes='57x57', href=`img/apple-icon-57x57.png?_=${now.getTime()}`)
        link(rel='apple-touch-icon', sizes='60x60', href=`img/apple-icon-60x60.png?_=${now.getTime()}`)
        link(rel='apple-touch-icon', sizes='72x72', href=`img/apple-icon-72x72.png?_=${now.getTime()}`)
        link(rel='apple-touch-icon', sizes='76x76', href=`img/apple-icon-76x76.png?_=${now.getTime()}`)
        link(rel='apple-touch-icon', sizes='114x114', href=`img/apple-icon-114x114.png?_=${now.getTime()}`)
        link(rel='apple-touch-icon', sizes='120x120', href=`img/apple-icon-120x120.png?_=${now.getTime()}`)
        link(rel='apple-touch-icon', sizes='144x144', href=`img/apple-icon-144x144.png?_=${now.getTime()}`)
        link(rel='apple-touch-icon', sizes='152x152', href=`img/apple-icon-152x152.png?_=${now.getTime()}`)
        link(rel='apple-touch-icon', sizes='57x57', href=`img/apple-icon-180x180.png?_=${now.getTime()}`)
        link(rel='icon',type='image/png', sizes='192x192', href=`img/android-icon-192x192.png?_=${now.getTime()}`)
        link(rel='icon',type='image/png', sizes='32x32', href=`img/favicon-32x32.png?_=${now.getTime()}`)
        link(rel='icon',type='image/png', sizes='96x96', href=`img/favicon-96x96.png?_=${now.getTime()}`)
        link(rel='icon',type='image/png', sizes='16x16', href=`img/favicon-16x16.png?_=${now.getTime()}`)
        link(rel='icon',type='image/png', sizes='16x16', href=`img/favicon-16x16.png?_=${now.getTime()}`)
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content=`/img/ms-icon-144x144.png?_=${now.getTime()}`)
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=' + encodeURI(['PT Sans', 'Philosopher'].join('|')) + '&subset=cyrillic', media='all')
        link(rel='stylesheet', href=`https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?_=${now.getTime()}`, media='all')
        include includes/ga.pug
        include includes/metrika.pug
        include includes/tmr.pug
        include includes/schema.pug
        script.
            function trackShare(socialNetwork) {
                gtag('event', 'share', { method: socialNetwork });
                ym(48054869, 'reachGoal', 'SHARE');
                _tmr.push({ id: '3075383', type: 'reachGoal', goal: 'SHARE' });
            }
    body
        .navbar-menu.navbar-inverse.navbar-fixed-top
            .container
                nav.navbar.px-0.navbar-header.navbar-expand-lg.navbar-dark
                    a.logo.navbar-brand(href='') Алексей и Марина
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarContent')
                        span.navbar-toggler-icon
                    div#navbarContent.navbar-collapse.collapse.navbar-expand
                        include includes/socials.pug
        header
            .container
                .row
                    .col
                        a.logo(href='') Свадьба Алексея и Марины
                    .col.d-none.d-md-flex.navbar-expand
                        include includes/socials.pug
            canvas#canvas
        .mouse-icon.hidden-xs
            .scroll
        .greeting.py-5
            .container
                h1 Дорогие друзья!
                p Приветствуем Вас на сайте новой ячейки общества!
                p Эта страница посвящена событию, которое оставило след не только в наших сердцах, паспортах, но и фото/видеоматериалах.
                p Некоторые моменты этого дня мы постарались сохранить для Вас!
                p Спасибо Вам за поздравления и подарки!
                p.h4.text-right Ваши Алексей и Марина
        #bridewealth.program.pb-5.py-sm-150
            .container
                .row
                    .col-sm-4.col-sx-12.d-flex
                        .align-self-center.my-5
                            h3 Выкуп невесты
                            hr.line.line-first
                            p В 13.30 у нас дома
                            p (Ссылка с картинки ведет на youtube.com)
                    .col-sm-8.col-sx-12
                        .media
                            a.youtube(href="https://youtu.be/iXamAkI4o1c", target="_blank")
                                img(src=`img/vikup.jpg?_=${now.getTime()}`, alt="Выкуп невесты")
        #registration.program.bg-gray.pb-5.py-sm-150
            .container
                .row
                    .col-sm-4.col-sx-12.d-flex
                        .align-self-center.my-5
                            h3 ЗАГС
                            hr.line
                            p В 15.00 Хамовнический ЗАГС по адресу: 1-й Вражский переулок, д. 4
                            p (Ссылка с картинки ведет на youtube.com)
                    .col-sm-8.col-sx-12
                        .media
                            a.youtube(href="https://youtu.be/ongB6bdMl_s", target="_blank")
                                img(src=`img/zags.jpg?_=${now.getTime()}`, alt="Бракосочетание в ЗАГС")
        #banquet.program.pb-5.py-sm-150
            .container
                .row
                    .col-sm-4.col-sx-12.d-flex
                        .align-self-center.my-5
                            h3 Банкет
                            hr.line.line-third
                            p В 17.00 Кафе при префектуре ЗАО по адресу: ул. Ивана Франко, д. 12
                            p (Ссылка с картинки ведет на youtube.com)
                    .col-sm-8.col-sx-12
                        .media
                            a.youtube(href="https://youtu.be/Yovy22QdMlM", target="_blank")
                                img(src=`img/banket.jpg?_=${now.getTime()}`, alt="Торжественный банкет")
        .map
            .container-fluid.pt-5.pt-sm-0
                script(async, defer, src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A43350278d2e747a4a378e2f27f8b8c010e9b341896897de34aa0fa78fa39074b&width=100%25&height=500&lang=ru_RU')
        footer.bg-gray
            .container
                .row
                    .col-sm-8
                        .navbar-expand
                            ul.navbar-nav
                                li.nav-item
                                    span.nav-link Контакты:
                                li.nav-item
                                    a.nav-link(href='mailto:alexey@wedding2018.moscow') Алексей
                                li.nav-item
                                    a.nav-link(href='mailto:marina@wedding2018.moscow') Марина
                    .col-sm-4
                        p.nav-link.px-2.m-0 Copyright © 2018–#{now.getFullYear()} ♥
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
        script(async, defer, src=`js/main.js?_=${now.getTime()}`)
